body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #06343af3;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-image: linear-gradient(
    #689fa1,
    #5f9596dc,
    #689799,
    #53929bda,
    #5da7b1d0,
    #52959ede,
    #5a898f,
    #596da0,
    #0d0f3f
  );
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 70%;
  opacity: 0.3;
}

.hero h1 {
  font-size: 67px;
  color: white;
  letter-spacing: 6px;
  margin-top: 220px;
}
.hero h2 {
  letter-spacing: 3px;
}
.hero p {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hero a {
  padding: 15px;
  background-color: white;
  color: black;
  border-radius: 5px;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
main {
  background-color: white;
}
.body1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 0px 50px;
  padding-top: 70px;
}
.body1 img {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 1px;
}
.body1 h2 {
  color: rgb(43, 40, 40);
  font-size: 45px;
}
.body1 p {
  color: rgb(58, 54, 54);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}
.body2 {
  background-color: #b4cecf36;
  margin-top: 100px;
}
.body2 h2 {
  font-size: 60px;
  text-align: center;
  padding: 50px 0px 20px 0px;
  letter-spacing: 2px;
}
.body2 p {
  margin: 0 140px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 1px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
  margin-left: 100px;
  padding-bottom: 50px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 50px auto;
  max-width: 300px;
  padding-bottom: 50px;
  border-left: 3px groove rgba(217, 242, 245, 0.795);
}
.card h2 {
  font-size: 26px;
  color: black;
  margin-top: 0;
  font-family: poppins;
}
.card h5 {
  margin: 0px 40px;
  padding: 0;
  font-size: 17px;
  color: black;
}
.card p {
  padding-bottom: 50px;
  padding-top: 10px;
  margin: 0 40px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
iframe {
  display: block;
  margin: auto;
  padding-bottom: 20px;
  width: 90%;
}
.btn2 {
  padding: 15px 82px;
  background-color: #06343af3;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  margin-left: 30px;
}
.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 50px 70px 100px 100px;
  color: rgb(83, 80, 80);
  font-weight: normal;
}
.reviews h5 {
  margin: 0px;
  padding: 5px;
  color: gray;
}
.cards {
  max-width: 300px;
  border-right: solid rgba(216, 213, 213, 0.884);
  padding-right: 30px;
}
.cards:last-child {
  border: none;
}
.containers {
  display: flex;
  margin-left: 10px;
}
.text {
  font-size: 12px;
  padding-left: 10px;
  color: rgba(128, 128, 128, 0.884);
  font-family: poppins;
}
.reviews p {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.icons {
  color: #ff9500;
}

.nn {
  font-size: 45px;
}
.customers {
  text-align: center;
  font-size: 55px;
  padding-top: 50px;
}
footer {
  background-color: #06343af3;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  margin-left: 80px;
  color: white;
  font-size: 15px;
}
.grid2 a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  .hero img {
    display: none;
  }
  .hero {
    height: 400px;
    width: 100%;
    grid-template-columns: 1fr;
  }
  .hero h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .body1 {
    grid-template-columns: 1fr;
  }
  .grid {
    grid-template-columns: 1fr;
    margin: auto;
    max-width: 300px;
  }
  .card {
    margin: 5px 0;
  }
  .body2 h2 {
    font-size: 30px;
  }
  .body2 p {
    margin: 20px;
  }

  .customers {
    font-size: 30px;
  }
  .reviews {
    grid-template-columns: 1fr;
    margin: auto;
  }
  .cards {
    border: none;
    padding-bottom: 30px;
    border-bottom: solid lightgray;
    margin: auto;
  }
  .grid2 {
    grid-template-columns: 1fr;
  }
}
